<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{PAGE_TITLE}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header class="top-bar">

    <div class="logo">
        RoadSafe VIC
    </div>

    <div class="search-bar">
    <input
        type="text"
        placeholder="Search road safety topics..."
    >
    </div>

    <div class="options-btn">
        Options
    </div>

</header>

<main>
    {{PAGE_CONTENT}}
</main>

</body>
</html>